streamlit
python-dotenv
langchain>=0.2.14
langchain-community>=0.2.12
langchain-core>=0.2.20
langchain-groq
langchain-huggingface
langchain-chroma
unstructured
sentence-transformers
chromadb>=0.5.5
uvicorn
