streamlit
python-dotenv
langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.34
langchain-groq==0.1.5
langchain-huggingface==0.0.3
langchain-text-splitters
unstructured
chromadb==0.5.18
sentence-transformers==3.1.0
uvicorn
